<app-navbar></app-navbar>
<div>
  <h1>Profile</h1>
  <p>Username: {{ user.Username }}</p>
  <p>Email: {{ user.Email }}</p>

  <h2>Favorite Movies</h2>
  <div>
    <mat-list>
      <mat-list-item *ngFor="let movie of favoriteMovies">
        <p>{{ movie.Title }}</p>
        <p>Directed by: {{ movie.Director.Name }}</p>

        <img
          matListItemAvatar
          src="{{ movie.ImagePath }}"
          alt="{{ movie.Title }}"
        />
      </mat-list-item>
    </mat-list>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Update User!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Username"
            placeholder="Username"
            type="text"
            name="Username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Password"
            type="password"
            placeholder="Password"
            name="Password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Email"
            type="email"
            placeholder="Email"
            name="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Birthday"
            type="date"
            placeholder="Birthday"
            name="Birthday"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="editUser()" color="primary">
        Update
      </button>
    </mat-card-actions>
  </mat-card>
  <button mat-raised-button (click)="deleteUser()" color="warn">Delete</button>
</div>
